<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/' | url }}assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/' | url }}assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/' | url }}assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ '/' | url }}assets/images/favicons/site.webmanifest">
    <title>
      {% if title %}{{ title }} | {% endif %}Moby Dick; Or the Whale, by Herman Melville
    </title>
    <link rel="stylesheet" href="{{ '/' | url }}assets/css/styles.css" />

  </head>
  <body>
    <header class="top-bar">
      <div class="book-name">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </div>
      <nav class="toc">
        <a href="{{ '/' | url }}contents" class="toc-trigger">Table of Contents</a>
        {% include partials/toc.liquid %}
      </nav>
    </header>
    <main>
